<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<h1><%= @products.title %></h1>
<ul>
    <li><%= @products.stock_quantity %></li>
    <li><%= @products.price %></li>


<ul>
